@charset "UTF-8";


article#ex * { margin: 0.5em 0em;}
article#ex { padding: 0.5em; }
main {
  width: 60%;
}
img {
  width: 50%;
}
p#img > img { margin: 0em; }
p#img { text-align: center; }
article#ex > p {
  text-align: center;
  font-size: 1vw;
}
p#me {
  margin: 0.5em 0em;
  font-style: italic;
  text-align: center;
  font-size: 2em;
}