@charset "UTF-8";






/* main */
main {
  max-width: 85%;
  min-width: 32%;
  width: 84vh;
} article#ex { text-align: center; }
  article#ex > div { padding: 1vw; display: inline-block;  text-align: left; }
  div#p1 > p, div#p2 > p { font-size: 1em; color: var(--cor7); }





/* nascimento */
article#ex > div#p1 { width: 22.5%; display: inline-block; }
article#ex > div#inp1 { width: 62.5%; display: inline-block; text-align: center; }
div#inp1 > input {
  line-height: 2.5vw;
  text-align: center;
  font-size: 1.5vw;
  width: 99.5%;
}





/* gênero */
article#ex > div#p2 { width: 07.5%; }
article#ex > div#inp2 { width: 77.5%; text-align: right; }
div#inp2 > label {
  background-color: var(--cor6-7);
  border-radius: 0.25vw;
  white-space: nowrap;
  line-height: 1.5em;
  font-size: 1.5vw;
  position: relative;
  padding: 0.25vw 2.5vw;
}
label#bt1 { margin-right: 3.5vw; } label#bt3 { margin-left: 3.5vw; }
input#oma, input#ofe, input#onb {
  margin-left: 1vw;
  max-height: 1.25vw;
  transform: translate( 0em, -50% );
  font-size: 0.1vw;
  position: absolute;
  height: 3vw;
  left: 0em;
  top: 50%;
}





/* resultado */
article#ex > div#inp3 { width: 95%; text-align: left; }
div#inp3 > input#ver {
  background-color: var(--cor6-7);
  border-radius: 0.25vw;
  font-size: 1.5vw;
  padding: 0.25vw 2.5vw;
}
div#res > img { width: 80%; display: block; margin: auto; }
div#res > p { margin-bottom: 2em; }
article#ex > div#res {
  background-color: var(--cor7);
  border-radius: 0.5em;
  text-align: center;
  padding: 2.5vw;
  margin: 1vw;
  width: 87.5%;
}





/* rodapé */
footer > p {
  text-decoration: wavy;
  color: var(--cor7);
  font-size: 2vw;
  margin-top: 2vw;
  text-align: center;
}