@charset "UTF-8";



section#conf p { color: #f5f5f5; }






/* main */
main {
  background-color: transparent;
  box-shadow: none;
  max-width: 85%;
  min-width: 64%;
  width: 120vh;
} article#ex {
  background-color: #000000;
  border-radius: 1em;
  text-align: center;
  padding: 2em;
} article#ex * { margin: 0em; }

