@charset "UTF-8";


main {
  max-width: 85%;
  min-width: 32%;
  width: 84vh;
}
img {
  width: 70%;
}
article#ex > p {
  text-align: center;
  font-size: 1em;
}
p#me {
  text-align: center;
  font-style: italic;
  margin: 0.5em 0em;
}