@charset "UTF-8";


article#ex > button {
  border: none;
  transition-duration: 0.1s;
  color: var(--cor6);
  background-color: var(--cor3);
  display: block;
  margin: auto;
  border-radius: 0.5vw;
  padding: 2.65vw 3.65vw;
  font-size: 3.5vw;
}
article#ex > button:hover {
  padding: 2.4vw 3.4vw;
  border: 0.25vw solid var(--cor6);
  background-color: var(--cor2);
  text-shadow: 0em 0em 0.5vw ;
}