@charset "UTF-8";

h1#titu { font-size: 2.5vw;}
article#ex * { margin: 0.5em 0em;}
article#ex { padding: 0.5em; }
main {
  width: 40%;
}
img {
  width: 70%;
}
article#ex > p {
  text-align: center;
  font-size: 1em;
}
p#me {
  text-align: center;
  font-style: italic;
  margin: 0.5em 0em;
}